@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 47% 11.2%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 47% 11.2%;
    --popover-foreground: 210 40% 98%;

    --primary: 13 53% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  font-size: 1.05rem;
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-[1400px] lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[44px] leading-[52px] lg:text-[52px] lg:leading-[64px]  xl:text-[62px] xl:leading-[78px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[34px] leading-[42px] lg:text-[38px] lg:leading-[46px] xl:text-[42px] xl:leading-[50px];
  }

  .h2-medium {
    @apply font-medium text-[34px] leading-[42px] lg:text-[38px] lg:leading-[46px] xl:text-[42px] xl:leading-[50px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[30px] leading-[38px] md:text-[38px] md:leading-[46px];
  }

  .h3-medium {
    @apply font-medium text-[30px] leading-[38px] md:text-[38px] md:leading-[46px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[34px] leading-[42px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[30px] leading-[38px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[26px] leading-[38px];
  }

  .p-medium-24 {
    @apply font-medium text-[26px] leading-[38px];
  }

  .p-regular-24 {
    @apply font-normal text-[26px] leading-[38px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[22px] leading-[32px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[22px] font-semibold leading-[32px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[22px] font-medium leading-[32px];
  }

  .p-regular-20 {
    @apply text-[22px] font-normal leading-[32px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-18 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[17px] font-bold leading-[26px];
  }

  .p-medium-16 {
    @apply text-[17px] font-medium leading-[26px];
  }

  .p-regular-16 {
    @apply text-[17px] font-normal leading-[26px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[15px] font-semibold leading-[22px];
  }

  .p-medium-14 {
    @apply text-[15px] font-medium leading-[22px];
  }

  .p-regular-14 {
    @apply text-[15px] font-normal leading-[22px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[13px] font-medium leading-[20px];
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply w-full bg-grey-50 dark:bg-muted dark:text-foreground h-[54px] placeholder:text-grey-500 dark:placeholder:text-muted-foreground rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent;
  }

  .input-field {
    @apply bg-grey-50 dark:bg-muted dark:text-foreground h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 dark:placeholder:text-muted-foreground rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent;
  }

  .textarea {
    @apply bg-grey-50 dark:bg-muted dark:text-foreground flex flex-1 placeholder:text-grey-500 dark:placeholder:text-muted-foreground p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent;
  }

  .button {
    @apply rounded-full h-[54px] p-regular-16;
  }

  .select-item {
    @apply py-3 cursor-pointer focus:bg-primary-50 dark:focus:bg-muted;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }
}

/* Date picker icon dark mode fix */
.dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705CF7
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #E24C3C!important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #E24C3C!important;
}